*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background: none;
    font-family: var(--font-lato);
}
fieldset, input{
    border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
select{
    border: none;
    -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

}
select::-ms-expand {
    display: none;
}