@import '../../../scss/abstracts/variables';

.button{
    &--dark{
        background-color: $grey-100;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        padding: 18px 40px;
        border-radius: 40px;
        line-height: 20px;
        width: 100%;
    }
    @media (min-width: $md) {
        &--dark{
            font-size: 20px;
            padding: 20px 40px;
            line-height: 24px;
            width: 195px;
        }
    }
    &--red{
        background-color: $red-rimacr-500;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        padding: 14px 32px;
        border-radius: 32px;
        line-height: 20px;
        width: 100%;
    }
    @media (min-width: $md) {
        &--red{
            min-width: 224px;
        }
    }
}